@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-tajawal: Tajawal;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-yellow-100: #faff00;
  --color-yellow-200: #e0e600;
  --color-khaki: #fbf19b;

  /* Gaps */
  --gap-xl: 20px;
  --gap-2xl: 21px;
  --gap-0: 0px;
  --gap-46xl: 65px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-683xl: 702px;
  --gap-156xl: 175px;
  --gap-69xl: 88px;
  --gap-332xl: 351px;
  --gap-mid: 17px;
  --gap-12xl: 31px;
  --gap-43xl: 62px;
  --gap-4xs: 9px;
  --gap-104xl-9: 123.9px;
  --gap-37xl-9: 56.9px;
  --gap-9xl: 28px;
  --gap-75xl: 94px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-6xl: 25px;
  --gap-9xs-9: 3.9px;
  --gap-48xl: 67px;
  --gap-14xl: 33px;
  --gap-3xl-1: 22.1px;
  --gap-6xs-1: 6.1px;
  --gap-15xl-1: 34.1px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-8xl: 27px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-7xs: 6px;
  --gap-25xl: 44px;
  --gap-645xl: 664px;
  --gap-64xl: 83px;
  --gap-147xl: 166px;
  --gap-313xl: 332px;
  --gap-20xl: 39px;
  --gap-23xl: 42px;
  --gap-16xl: 35px;

  /* Paddings */
  --padding-29xl: 48px;
  --padding-540xl: 559px;
  --padding-27xl-9: 46.9px;
  --padding-539xl: 558px;
  --padding-120xl: 139px;
  --padding-260xl: 279px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-9xs-1: 3.1px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-23xl: 42px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-12xl: 31px;
  --padding-19xl: 38px;
  --padding-3xs: 10px;
  --padding-181xl: 200px;
  --padding-4xs: 9px;
  --padding-156xl: 175px;
  --padding-28xl: 47px;
  --padding-10xl: 29px;
  --padding-86xl: 105px;
  --padding-7xl: 26px;
  --padding-33xl: 52px;
  --padding-43xl: 62px;
  --padding-180xl: 199px;
  --padding-mini: 15px;
  --padding-35xl: 54px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-13xl: 32px;
  --padding-40xl: 59px;
  --padding-2xl: 21px;
  --padding-6xs-1: 6.1px;
  --padding-72xl: 91px;
  --padding-3xl: 22px;
  --padding-90xl: 109px;
  --padding-52xl: 71px;
  --padding-38xl: 57px;
  --padding-63xl: 82px;
  --padding-lgi: 19px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-14xl: 33px;
  --padding-6xl: 25px;
  --padding-146xl: 165px;
  --padding-21xl-2: 40.2px;
  --padding-8xl: 27px;
  --padding-3xl-9: 22.9px;
  --padding-9xl: 28px;
  --padding-17xl: 36px;
  --padding-149xl: 168px;
  --padding-80xl: 99px;
  --padding-30xl: 49px;
  --padding-7xs-1: 5.1px;
  --padding-85xl: 104px;
  --padding-29xl-9: 48.9px;
  --padding-25xl: 44px;
  --padding-70xl: 89px;
  --padding-39xl: 58px;
  --padding-22xl: 41px;
  --padding-56xl: 75px;
  --padding-57xl: 76px;
  --padding-2xs: 11px;
  --padding-81xl: 100px;
  --padding-41xl: 60px;
  --padding-46xl: 65px;
  --padding-11xl: 30px;
  --padding-31xl: 50px;
  --padding-9xs-5: 3.5px;
  --padding-87xl: 106px;
  --padding-50xl: 69px;
  --padding-4xl: 23px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-sm: 14px;
  --br-151xl: 170px;
  --br-231xl: 250px;
  --br-89xl: 108px;
  --br-12xl: 31px;
}
